@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: rgb(77, 77, 85);
    font-family: 'Montserrat', sans-serif;
}

.main-component {
    background-color: inherit;
    margin: 20;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.label {
    display: block;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 5%;
}

.input {
    display: block;
    align-items: center;
    margin: auto;
    height: 40px;
    width: 40px;
    font: inherit;
    font-size: 20px;
}

.side-panel {
    color: white;
    text-align: center;
    font-size: 30px;
    /* display: flex; */
}

