@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #666666;
    font-family: 'Montserrat', sans-serif;
}

canvas {
    margin: auto;
}

#animation {
    margin: auto
}

.main-component {
    background-color: inherit;
    margin: 20;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    height: 100vh;
}

.label {
    display: block;
    text-align: center;
    margin-bottom: 3vh;
}

#number {
    margin-bottom: 10vh;
}

.input {
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 40px;
    width: 40px;
    font: inherit;
    font-size: 20px;
}

.side-panel {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 30vh;
    margin-bottom: 30vh;
    /* display: flex; */
}

.random-button{
    font: inherit;
}

